/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --color-pink-1: #FFF1F7;
  --color-pink-2: #F1B2CE;
  --color-pink-3: #FFC2E6;
  --color-pink-4: #FF8DCB;
  --color-pink-5: #FF0070;
  --color-pink-6: #DB00FF;
  --color-pink-7: #ff007066;
    
  --color-grey-1: #353430;
  --color-grey-2: #000028;
  --color-grey-3: #32312D66;

}


  
    